<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改选课')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-stucour-edit" th:object="${tBxwStucourWwx}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">学生ID 参考学生表主键：</label>
                <div class="col-sm-8">
                    <input name="tBxwStudentWwxId" th:field="*{tBxwStudentWwxId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">课程ID 参考课程表主键：</label>
                <div class="col-sm-8">
                    <input name="tBxwCourseWwxId" th:field="*{tBxwCourseWwxId}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "yw/stucour";
        $("#form-stucour-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-stucour-edit').serialize());
            }
        }
    </script>
</body>
</html>